In [1]:
# 09/12/2019
# Learning Numpy - Ch4. Numpy Basics

# What is Numpy?
# Most important foundational packages for numerical computing in python

In [4]:
# Import library and modules
import pandas as pd
import glob
import numpy as np
import os
import pprint
import pickle
import logging

# Display imagine in jupyter notebook
from IPython.display import Image
from IPython.core.display import HTML 

# Setup the graph's style
import matplotlib.pyplot as plt
plt.style.use('ggplot')

from datetime import timedelta

In [3]:
# Step #00. Download the dataset from website
# https://s3.amazonaws.com/tripdata/index.html

In [24]:
# Step #01. Read CSV and create dataframe (DF)
df = pd.read_csv('201907-citibike-tripdata.csv')

In [7]:
# Step #02. Sample the dataframe, n = 5 or anything
df.sample(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1178439,3516,2019-07-17 16:25:53.2480,2019-07-17 17:24:29.5180,3259.0,9 Ave & W 28 St,40.749370,-73.999234,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,35010,Subscriber,1989,1
1265038,226,2019-07-18 22:46:05.3340,2019-07-18 22:49:52.2530,461.0,E 20 St & 2 Ave,40.735877,-73.982050,504.0,1 Ave & E 16 St,40.732219,-73.981656,33561,Subscriber,1995,1
377245,638,2019-07-06 17:27:01.5190,2019-07-06 17:37:40.3530,3288.0,E 88 St & 1 Ave,40.778301,-73.948813,3496.0,1 Ave & E 110 St,40.792327,-73.938300,20517,Customer,1986,1
508845,1908,2019-07-08 19:22:39.9730,2019-07-08 19:54:28.9280,3168.0,Central Park West & W 85 St,40.784727,-73.969617,422.0,W 59 St & 10 Ave,40.770513,-73.988038,31211,Customer,1969,0
1352697,201,2019-07-20 10:30:57.9960,2019-07-20 10:34:19.8460,251.0,Mott St & Prince St,40.723180,-73.994800,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,21349,Subscriber,1994,1

In [9]:
# Step #03. Look at first 3 rows
df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.96593,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.97137,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.95995,39874,Subscriber,1986,1

In [10]:
# Step #04. Look at last 3 rows
df.tail(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
2181061,1302,2019-07-31 23:59:52.8280,2019-08-01 00:21:35.1090,331.0,Pike St & Monroe St,40.711731,-73.991930,309.0,Murray St & West St,40.714979,-74.013012,39730,Subscriber,1966,2
2181062,353,2019-07-31 23:59:57.1130,2019-08-01 00:05:50.1350,3255.0,8 Ave & W 31 St,40.750585,-73.994685,482.0,W 15 St & 7 Ave,40.739355,-73.999318,30149,Subscriber,1994,1
2181063,274,2019-07-31 23:59:57.4870,2019-08-01 00:04:32.2070,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,3134.0,3 Ave & E 62 St,40.763126,-73.965269,25344,Subscriber,1994,2

In [11]:
# Step #05. Quick summary
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,2.181064e+06,2.181010e+06,2.181064e+06,2.181064e+06,2.181010e+06,2.181064e+06,2.181064e+06,2.181064e+06,2.181064e+06,2.181064e+06
mean,1.035360e+03,1.673221e+03,4.073702e+01,-7.398180e+01,1.668867e+03,4.073667e+01,-7.398193e+01,2.976747e+04,1.980647e+03,1.159509e+00
std,1.077968e+04,1.477084e+03,3.070090e-02,2.037008e-02,1.477700e+03,3.065210e-02,2.049140e-02,7.686672e+03,1.202459e+01,5.601976e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.405099e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.850000e+02,3.820000e+02,4.071723e+01,-7.399596e+01,3.800000e+02,4.071689e+01,-7.399601e+01,2.522000e+04,1.970000e+03,1.000000e+00
50%,6.580000e+02,5.140000e+02,4.073705e+01,-7.398516e+01,5.140000e+02,4.073650e+01,-7.398565e+01,3.099700e+04,1.983000e+03,1.000000e+00
75%,1.155000e+03,3.296000e+03,4.075757e+01,-7.397109e+01,3.300000e+03,4.075715e+01,-7.397109e+01,3.535500e+04,1.990000e+03,1.000000e+00
max,2.621244e+06,3.799000e+03,4.086600e+01,-7.388100e+01,3.799000e+03,4.086600e+01,-7.388100e+01,4.000200e+04,2.003000e+03,2.000000e+00

In [13]:
# Step #06. Get the size (how many rows and how many columns)
df.shape

(2181064, 15)

In [14]:
# You can actually print it out much nicer!
print('Row Count: {row}, Column Count: {column}'.format(row=df.shape[0], column=df.shape[1]))

Row Count: 2181064, Column Count: 15

In [15]:
# Step #07. Show the column names
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [17]:
# Step #08. Get the column types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2181064 entries, 0 to 2181063
Data columns (total 15 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
birth year                 int64
gender                     int64
dtypes: float64(6), int64(4), object(5)
memory usage: 249.6+ MB

In [18]:
# Step #09. Drop columns (remove them from your dataframe)
df = df.drop(columns=['start station latitude', 
                      'start station latitude',
                      'start station longitude'])

In [19]:
df

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1
5,106,2019-07-01 00:00:12.6680,2019-07-01 00:01:59.6060,3593.0,31 St & Broadway,3592.0,Crescent St & Broadway,40.763359,-73.928647,16875,Subscriber,1988,1
6,550,2019-07-01 00:00:14.4940,2019-07-01 00:09:25.3970,3507.0,Park Ave & E 124 St,3553.0,Frederick Douglass Blvd & W 112 St,40.801694,-73.957145,34139,Subscriber,1992,1
7,338,2019-07-01 00:00:18.1350,2019-07-01 00:05:56.9780,478.0,11 Ave & W 41 St,388.0,W 26 St & 10 Ave,40.749718,-74.002950,39703,Subscriber,1995,1
8,469,2019-07-01 00:00:25.0940,2019-07-01 00:08:14.2420,514.0,12 Ave & W 40 St,458.0,11 Ave & W 27 St,40.751396,-74.005226,28266,Subscriber,1989,1
9,562,2019-07-01 00:00:26.7780,2019-07-01 00:09:49.2100,116.0,W 17 St & 8 Ave,462.0,W 22 St & 10 Ave,40.746920,-74.004519,26757,Subscriber,1965,1
10,2420,2019-07-01 00:00:29.6810,2019-07-01 00:40:49.8050,3054.0,Greene Ave & Throop Ave,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,28840,Subscriber,1986,1
11,1058,2019-07-01 00:00:40.1040,2019-07-01 00:18:18.8070,3434.0,W 88 St & West End Ave,3434.0,W 88 St & West End Ave,40.790254,-73.977183,21038,Subscriber,1984,1
12,257,2019-07-01 00:00:41.3380,2019-07-01 00:04:59.2340,3119.0,Vernon Blvd & 50 Ave,3118.0,McGuinness Blvd & Eagle St,40.735550,-73.952840,25280,Subscriber,1988,1
13,305,2019-07-01 00:00:46.8030,2019-07-01 00:05:52.4540,402.0,Broadway & E 22 St,461.0,E 20 St & 2 Ave,40.735877,-73.982050,34925,Subscriber,1965,1
14,366,2019-07-01 00:01:06.5270,2019-07-01 00:07:13.1350,3578.0,Park Pl & Franklin Ave,3581.0,Underhill Ave & Lincoln Pl,40.674012,-73.967146,38092,Subscriber,1988,2
15,1006,2019-07-01 00:01:08.7880,2019-07-01 00:17:55.4900,382.0,University Pl & E 14 St,545.0,E 23 St & 1 Ave,40.736502,-73.978095,17972,Customer,1969,0
16,936,2019-07-01 00:01:09.8840,2019-07-01 00:16:46.7980,3674.0,Jay St & York St,3795.0,10 St & 2 Ave,40.671907,-73.993612,31672,Subscriber,1965,1
17,584,2019-07-01 00:01:26.5920,2019-07-01 00:11:11.0950,455.0,1 Ave & E 44 St,3711.0,E 13 St & Avenue A,40.729667,-73.980680,38455,Subscriber,1989,1
18,1147,2019-07-01 00:01:34.9990,2019-07-01 00:20:42.0120,3619.0,Newtown Ave & 23 St,3118.0,McGuinness Blvd & Eagle St,40.735550,-73.952840,16115,Subscriber,1994,1
19,980,2019-07-01 00:01:36.9880,2019-07-01 00:17:57.2000,382.0,University Pl & E 14 St,545.0,E 23 St & 1 Ave,40.736502,-73.978095,33945,Customer,1969,0
20,414,2019-07-01 00:01:37.1650,2019-07-01 00:08:32.0430,523.0,W 38 St & 8 Ave,3259.0,9 Ave & W 28 St,40.749370,-73.999234,33135,Subscriber,1987,1
21,960,2019-07-01 00:01:37.8740,2019-07-01 00:17:38.4430,358.0,Christopher St & Greenwich St,494.0,W 26 St & 8 Ave,40.747348,-73.997236,29359,Customer,1969,0
22,536,2019-07-01 00:01:39.0260,2019-07-01 00:10:35.7690,116.0,W 17 St & 8 Ave,462.0,W 22 St & 10 Ave,40.746920,-74.004519,27844,Subscriber,1963,2
23,549,2019-07-01 00:01:41.9300,2019-07-01 00:10:51.2210,393.0,E 5 St & Avenue C,332.0,Cherry St,40.712199,-73.979481,30266,Subscriber,2000,1
24,1265,2019-07-01 00:01:52.4810,2019-07-01 00:22:57.9200,3244.0,University Pl & E 8 St,265.0,Stanton St & Chrystie St,40.722293,-73.991475,35387,Subscriber,1985,1
25,790,2019-07-01 00:01:54.4520,2019-07-01 00:15:05.1380,317.0,E 6 St & Avenue B,168.0,W 18 St & 6 Ave,40.739713,-73.994564,24899,Subscriber,2000,1
26,1306,2019-07-01 00:01:56.1200,2019-07-01 00:23:42.8870,3236.0,W 42 St & Dyer Ave,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,21711,Customer,1990,1
27,722,2019-07-01 00:01:56.3810,2019-07-01 00:13:58.9740,3593.0,31 St & Broadway,3607.0,31 Ave & 14 St,40.768200,-73.932266,20641,Subscriber,1970,1
28,1281,2019-07-01 00:02:10.1820,2019-07-01 00:23:31.2660,377.0,6 Ave & Canal St,368.0,Carmine St & 6 Ave,40.730386,-74.002150,35065,Customer,1988,1
29,2109,2019-07-01 00:02:18.4040,2019-07-01 00:37:27.8980,440.0,E 45 St & 3 Ave,473.0,Rivington St & Chrystie St,40.721101,-73.991925,38129,Customer,1972,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181034,1019,2019-07-31 23:58:07.0120,2019-08-01 00:15:06.8520,3042.0,Fulton St & Utica Ave,3072.0,Leonard St & Boerum St,40.705833,-73.946446,17511,Customer,1992,1
2181035,667,2019-07-31 23:58:09.9300,2019-08-01 00:09:17.0450,297.0,E 15 St & 3 Ave,341.0,Stanton St & Mangin St,40.717821,-73.976289,39222,Subscriber,1997,2
2181036,115,2019-07-31 23:58:12.3980,2019-08-01 00:00:07.7920,482.0,W 15 St & 7 Ave,223.0,W 13 St & 7 Ave,40.737815,-73.999947,15308,Subscriber,1976,1
2181037,540,2019-07-31 23:58:14.9440,2019-08-01 00:07:15.2750,285.0,Broadway & E 14 St,3711.0,E 13 St & Avenue A,40.729667,-73.980680,28025,Customer,1969,0
2181038,334,2019-07-31 23:58:16.4840,2019-08-01 00:03:51.1210,3082.0,Hope St & Union Ave,3766.0,Sharon St & Olive St,40.715353,-73.938560,27739,Subscriber,1983,1
2181039,1617,2019-07-31 23:58:18.3900,2019-08-01 00:25:15.4090,3599.0,Franklin Ave & Empire Blvd,3068.0,Humboldt St & Varet St,40.703172,-73.940636,38634,Customer,1969,0
2181040,223,2019-07-31 23:58:23.7250,2019-08-01 00:02:07.3820,280.0,E 10 St & 5 Ave,285.0,Broadway & E 14 St,40.734546,-73.990741,39605,Subscriber,1975,1
2181041,300,2019-07-31 23:58:25.3200,2019-08-01 00:03:26.1920,285.0,Broadway & E 14 St,3711.0,E 13 St & Avenue A,40.729667,-73.980680,28333,Subscriber,1995,1
2181042,147,2019-07-31 23:58:34.5840,2019-08-01 00:01:02.2150,195.0,Liberty St & Broadway,304.0,Broadway & Battery Pl,40.704633,-74.013617,28069,Subscriber,1994,1
2181043,195,2019-07-31 23:58:35.0070,2019-08-01 00:01:50.2960,297.0,E 15 St & 3 Ave,461.0,E 20 St & 2 Ave,40.735877,-73.982050,34056,Subscriber,1966,1
2181044,265,2019-07-31 23:58:40.6280,2019-08-01 00:03:05.9450,397.0,Fulton St & Clermont Ave,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,15278,Subscriber,1996,2
2181045,368,2019-07-31 23:58:44.6200,2019-08-01 00:04:53.0400,3375.0,3 Ave & E 72 St,3156.0,E 72 St & York Ave,40.766638,-73.953483,18530,Subscriber,1945,1
2181046,194,2019-07-31 23:58:44.6350,2019-08-01 00:01:58.6480,3584.0,Eastern Pkwy & Franklin Ave,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,26578,Subscriber,1997,1
2181047,490,2019-07-31 23:58:44.7890,2019-08-01 00:06:55.7710,3260.0,Mercer St & Bleecker St,3435.0,Grand St & Elizabeth St,40.718822,-73.995960,15060,Customer,1997,1
2181048,281,2019-07-31 23:58:47.7740,2019-08-01 00:03:29.1740,434.0,9 Ave & W 18 St,435.0,W 21 St & 6 Ave,40.741740,-73.994156,34140,Subscriber,1973,1
2181049,615,2019-07-31 23:58:49.2910,2019-08-01 00:09:05.1980,515.0,W 43 St & 10 Ave,334.0,W 20 St & 7 Ave,40.742388,-73.997262,38231,Subscriber,1896,1
2181050,301,2019-07-31 23:58:53.4820,2019-08-01 00:03:55.1960,453.0,W 22 St & 8 Ave,402.0,Broadway & E 22 St,40.740343,-73.989551,15327,Subscriber,1995,2
2181051,3021,2019-07-31 23:59:01.2820,2019-08-01 00:49:23.0250,2003.0,1 Ave & E 18 St,545.0,E 23 St & 1 Ave,40.736502,-73.978095,26054,Subscriber,1997,1
2181052,636,2019-07-31 23:59:02.3250,2019-08-01 00:09:39.2180,3746.0,6 Ave & Broome St,3463.0,E 16 St & Irving Pl,40.735367,-73.987974,31499,Subscriber,1991,1
2181053,4457,2019-07-31 23:59:15.6250,2019-08-01 01:13:32.9440,3082.0,Hope St & Union Ave,3117.0,Franklin St & Dupont St,40.735640,-73.958660,35109,Customer,1969,0
2181054,398,2019-07-31 23:59:23.9220,2019-08-01 00:06:02.8910,450.0,W 49 St & 8 Ave,515.0,W 43 St & 10 Ave,40.760094,-73.994618,39769,Subscriber,1975,1
2181055,4375,2019-07-31 23:59:32.9270,2019-08-01 01:12:28.5280,3082.0,Hope St & Union Ave,3117.0,Franklin St & Dupont St,40.735640,-73.958660,27697,Customer,1969,0
2181056,155,2019-07-31 23:59:34.5810,2019-08-01 00:02:10.1040,410.0,Suffolk St & Stanton St,401.0,Allen St & Rivington St,40.720196,-73.989978,33276,Subscriber,1990,1
2181057,3475,2019-07-31 23:59:37.4670,2019-08-01 00:57:32.4720,2003.0,1 Ave & E 18 St,504.0,1 Ave & E 16 St,40.732219,-73.981656,19571,Subscriber,1993,1
2181058,1230,2019-07-31 23:59:40.9580,2019-08-01 00:20:11.7390,468.0,Broadway & W 56 St,3289.0,W 90 St & Amsterdam Ave,40.790179,-73.972889,18496,Subscriber,1959,1
2181059,644,2019-07-31 23:59:45.2950,2019-08-01 00:10:29.8640,274.0,Lafayette Ave & Fort Greene Pl,3409.0,Bergen St & Smith St,40.686744,-73.990632,19018,Subscriber,1964,1
2181060,589,2019-07-31 23:59:52.7170,2019-08-01 00:09:42.0870,3285.0,W 87 St & Amsterdam Ave,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,15330,Subscriber,1997,1
2181061,1302,2019-07-31 23:59:52.8280,2019-08-01 00:21:35.1090,331.0,Pike St & Monroe St,309.0,Murray St & West St,40.714979,-74.013012,39730,Subscriber,1966,2
2181062,353,2019-07-31 23:59:57.1130,2019-08-01 00:05:50.1350,3255.0,8 Ave & W 31 St,482.0,W 15 St & 7 Ave,40.739355,-73.999318,30149,Subscriber,1994,1
2181063,274,2019-07-31 23:59:57.4870,2019-08-01 00:04:32.2070,3459.0,E 53 St & 3 Ave,3134.0,3 Ave & E 62 St,40.763126,-73.965269,25344,Subscriber,1994,2

In [22]:
# Recommended not to do it this way
# df.drop(columns=['tripduration'], inplace=True)

In [25]:
# read SAS dataset into Python
airline_df = pd.read_sas('airline.sas7bdat')

In [27]:
airline_df.sample(5)

           YEAR          Y      W       R      L      K
24  1972.000000  16.662001  1.000  0.2506  5.345  8.331
6   1954.000383   3.025000  0.335  0.4025  1.964  0.776
9   1957.000207   4.420000  0.379  0.3045  2.707  0.921
10  1958.000207   4.563000  0.391  0.3284  2.706  1.067
15  1963.000001   6.876000  0.506  0.4180  3.263  2.041

In [28]:
airline_df.head(5)

          YEAR      Y      W       R      L      K
0  1948.000000  1.214  0.243  0.1454  1.415  0.612
1  1949.000000  1.354  0.260  0.2181  1.384  0.559
2  1950.000000  1.569  0.278  0.3157  1.388  0.573
3  1951.000000  1.948  0.297  0.3940  1.550  0.564
4  1952.000759  2.265  0.310  0.3559  1.802  0.574

In [29]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
YEAR    32 non-null float64
Y       32 non-null float64
W       32 non-null float64
R       32 non-null float64
L       32 non-null float64
K       32 non-null float64
dtypes: float64(6)
memory usage: 1.6 KB

In [31]:
airline_df.columns

Index(['YEAR', 'Y', 'W', 'R', 'L', 'K'], dtype='object')

In [33]:
airline_df.shape

(32, 6)

In [43]:
"rows={0:3}".format(airline_df.shape[0])

'rows= 32'

In [44]:
airline_df.sample(10)

           YEAR          Y      W       R      L      K
20  1968.000002  15.261000  0.666  0.3052  5.217  4.767
31  1979.000448  23.618999  1.779  0.5346  6.852  6.874
5   1953.000258   2.731000  0.322  0.3593  1.926  0.711
18  1966.000001  10.512000  0.586  0.5369  4.074  2.742
26  1974.000454  19.305000  1.131  0.2664  5.729  9.508
17  1965.000002   9.120000  0.564  0.5879  3.623  2.257
19  1967.000002  13.020000  0.622  0.4443  4.710  3.564
22  1970.000002  16.002001  0.831  0.1883  5.495  7.627
21  1969.000002  16.313000  0.731  0.2332  5.569  6.511
15  1963.000001   6.876000  0.506  0.4180  3.263  2.041

In [46]:
airline_df = airline_df.drop(columns=["Y","W"])

In [48]:
airline_df.sample(5)

           YEAR       R      L      K
16  1964.000002  0.5163  3.412  1.997
24  1972.000000  0.2506  5.345  8.331
30  1978.000124  0.5877  6.108  7.104
13  1961.000002  0.3079  3.122  1.736
19  1967.000002  0.4443  4.710  3.564

In [49]:
# rename columns 
# R = Ronald Reagan Washington National Airport
# L = Los Angeles International Airport
# K = John F. Kennedy International Airport

airport_xwalk = {'R': 'Ronald Reagan Washington National Airport',
                 'L': 'Los Angeles International Airport',
                 'K': 'John F. Kennedy International Airport'}

print('Crosswalk=', airport_xwalk)

Crosswalk= {'R': 'Ronald Reagan Washington National Airport', 'L': 'Los Angeles International Airport', 'K': 'John F. Kennedy International Airport'}

In [51]:
airline_df = airline_df.rename(columns=airport_xwalk)

In [52]:
airline_df

,YEAR,Ronald Reagan Washington National Airport,Los Angeles International Airport,John F. Kennedy International Airport
0,1948.000000,0.1454,1.415,0.612
1,1949.000000,0.2181,1.384,0.559
2,1950.000000,0.3157,1.388,0.573
3,1951.000000,0.3940,1.550,0.564
4,1952.000759,0.3559,1.802,0.574
5,1953.000258,0.3593,1.926,0.711
6,1954.000383,0.4025,1.964,0.776
7,1955.000192,0.3961,2.116,0.827
8,1956.000387,0.3822,2.435,0.800
9,1957.000207,0.3045,2.707,0.921
10,1958.000207,0.3284,2.706,1.067
11,1959.000371,0.3856,2.846,1.083
12,1960.000002,0.3193,3.089,1.481
13,1961.000002,0.3079,3.122,1.736
14,1962.000001,0.3783,3.184,1.926
15,1963.000001,0.4180,3.263,2.041
16,1964.000002,0.5163,3.412,1.997
17,1965.000002,0.5879,3.623,2.257
18,1966.000001,0.5369,4.074,2.742
19,1967.000002,0.4443,4.710,3.564
20,1968.000002,0.3052,5.217,4.767
21,1969.000002,0.2332,5.569,6.511
22,1970.000002,0.1883,5.495,7.627
23,1971.000002,0.2023,5.334,8.673
24,1972.000000,0.2506,5.345,8.331
25,1973.000000,0.2668,5.662,8.557
26,1974.000454,0.2664,5.729,9.508
27,1975.000372,0.2301,5.722,9.062
28,1976.000425,0.3452,5.762,8.262
29,1977.000124,0.4508,5.877,7.474
30,1978.000124,0.5877,6.108,7.104
31,1979.000448,0.5346,6.852,6.874